body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  align-content: stretch;
  border-bottom: 10px solid rgb(3, 102, 177);
  background-color: rgb(137, 137, 137);
  height: 50px;
  width: 100%;
  margin-top: 0;
}

ol {
  padding-left: 0;
}

.crumb {
  margin: 1000px 30px;
  margin-right: 2em;
  display: inline;
}

a {
  color: orange;
}

a:visited {
  color: rgb(155, 71, 88);
}

input {
  display: block;
}

img {
  max-width: 300px;
}

button {
  box-shadow: 5px 5px 5px black;
  background-color: rgb(210, 215, 51);
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

header {
  background-color: black;
}
